hr {
    border: 0;
    border-top: 0.1px solid lightgray;
}


.space-line {
    margin-bottom: 30px;
}

.Products {
    padding-top: 30px;
    padding-bottom: 60px;
}

.Products header {
    color: #0B3E64;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 80px;
}

.productsDisplay {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
}

.img-div {
    position: relative;
}

.text-div {
    position: absolute;
    color: #6B9AAC;
    left: 12px;
    border-radius: 3px;
    font-size: 12px;
    top: 10px;
    background: #f9f9f9;
    padding: 2px;
    letter-spacing: 2px;
    font-weight: 500;
}

.productCard {
    text-align: center;
    color: #0B3E64;
}

.productCard img {
    margin-bottom: 10px;
    object-fit: contain;
    height: 260px;
}

.productText {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.productPrice {
    color: #6B9AAC;
    font-size: 14px;
    font-weight: 600;
}

.productReviews {
    margin-bottom: 20px;
    color: black;
    font-weight: 500;
    font-size: 12px;
}