@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
    box-sizing: border-box;
  }
  
  span {
    color: blue;
    font-weight: bolder;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  ul {
    margin-right: 20px;
}

a {
  margin-right: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
